<div class="header">
    <a href="{% url 'index' %}" class="logo"></a>
    <div class="username">Привет
        {% if user.is_authenticated %}
        <a href="{% url 'auth:edit' %}">{{ user|title }}</a>
        {% else %}
        Гость
        {% endif %}
    </div>
    <ul class="menu">
        <li><a href="{% url 'index' %}">домой</a></li> <!-- class="active" -->
        <li><a href="{% url 'products:index' %}">продукты</a></li>
        <li><a href="{% url 'contacts' %}">контакты</a></li>
        {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
        <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </ul>
</div>
